<!DOCTYPE html>
<html lang="<%= data.settings.site.language %>">
	<head>
		<meta charset="<%= config.encoding %>" />
		<link type="text/css" rel="stylesheet" href="<%= absolute_url('/stylesheets/visual.css') %>" media="print, screen">
		<link type="text/css" rel="stylesheet" href="<%= absolute_url('/stylesheets/print.css') %>" media="print">
		<link type="text/css" rel="stylesheet" href="<%= absolute_url('/stylesheets/screen.css') %>" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= doc_title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: "Atom Feed" %>
<%= partial('layouts/open_graph', locals: { current_article: current_article } ) %>
		<link rel="apple-touch-icon" sizes="180x180" href="<%= absolute_url('/images/icons/favicons/apple-touch-icon.png') %>" />
		<link rel="icon" type="image/png" href="<%= absolute_url('/images/icons/favicons/favicon-32x32.png') %>" sizes="32x32" />
		<link rel="icon" type="image/png" href="<%= absolute_url('/images/icons/favicons/favicon-16x16.png') %>" sizes="16x16" />
		<link rel="manifest" href="<%= absolute_url('/images/icons/favicons/manifest.json') %>" />
		<link rel="mask-icon" href="<%= absolute_url('/images/icons/favicons/safari-pinned-tab.svg') %>" />
		<link rel="shortcut icon" href="<%= absolute_url('/images/icons/favicons/favicon.ico') %>" />
		<meta name="msapplication-config" content="<%= absolute_url('/images/icons/favicons/browserconfig.xml') %>" />
	<body>
  		<a href="#nav_main">Skip to main content</a>
		<div role="banner">
			<dl>
		<% if current_page.path == 'index.xhtml' %>
				<dt property="dcterms:title" lang="ga"><%= data.settings.site.name %></dt>
		<% else %>
				<dt lang="ga-ie"><a href="<%= data.settings.site.base_url %>"><%= data.settings.site.name %></a></dt>
		<% end %>
				<dd
			<% if current_page.path == 'index.xhtml' %>
				 property="dcterms:description"
			<% end %>
				><%= data.settings.site.description %></dd>
			</dl>
			<div role="navigation">
				<ol>
				<% if current_page.path == 'index.xhtml' %>
					<li>Publications</li>
				<% else %>
					<li><%= link_to 'Publications', '/index.xhtml', accesskey: '1' %></li>
				<% end %><!--End of home link-->
					<li><%= link_to 'Copright', '#nav_copyright', accesskey: '6' %></li>
					<li><%= link_to 'Access keys', '#nav_accesskeys', accesskey: 'k' %></li>
					<% if current_page.path == "colophon.xhtml" %>
					<li>Colophon</li>
				<% else %>
					<li><%= link_to 'Colophon', '/colophon.xhtml' %></li>
				<% end %><!--End of archive link-->
				</ol>
			</div><!--End of ‘navigation’ role-->
		</div><!-- end of ‘banner’ role -->
		<main id="nav_main">
			<h1 property="dcterms:title"><%= current_page.data.title %></h1>
      <%= yield %>
      		<div role="complementary">
		<% if current_article %>
			<h2>All other publications</h2>
			<ul>
			<% blog.articles.each do |article| %>
				<% unless current_article == article %>
				<li><a href="<%= url_for article %>"><%= article.title %></a></li>
				<% end %>
			<% end %>
			</ul>
		<% end %>
			<h2>Publications let loose</h2>
			<p>Find all books on:</p>
			<ul class="all-books">
				<li><a href="https://www.amazon.co.uk/-/e/B01ABT1SIM/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B01CAANG2Q&amp;linkCode=as2&amp;tag=no2orguk-21">Amazon</a>,</li>
				<li><a href="http://www.barnesandnoble.com/s/%22J.P.%20O%20Nuanain">Barnes &amp; Nobel</a>,</li>
				<li><a href="https://www.goodreads.com/author/show/15040334.J_P_Nuan_in">Goodreads</a>, and</li>
				<li><a href="https://itunes.apple.com/gb/author/o-nuanain-j.-p./id1072462215?mt=11&amp;at=1000laV8">iTunes.</a></li>
			</ul>
	</div>
			<%= partial 'layouts/footer' %>
	      </main>
	</body>
</html>