<?xml version="1.0" encoding="<%= config.encoding %>"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/visual.css" %>" media="print,screen"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/print.css" %>" media="print"?>
<?xml-stylesheet href="<%= url_for "/stylesheets/screen.css" %>" media="screen"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= data.settings.site.language %>">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= doc_title %></title>
		<link rel="canonical" href="<%= data.settings.site.base_url %>/<%= current_page.path %>" />
		<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/favicons/apple-touch-icon-57x57.png"/>
		<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/favicons/apple-touch-icon-60x60.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/favicons/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/favicons/apple-touch-icon-76x76.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/favicons/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/favicons/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/favicons/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/favicons/apple-touch-icon-152x152.png"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/favicons/apple-touch-icon-180x180.png"/>
		<link rel="icon" type="image/png" href="/images/icons/favicons/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/images/icons/favicons/favicon-194x194.png" sizes="194x194"/>
		<link rel="icon" type="image/png" href="/images/icons/favicons/favicon-96x96.png" sizes="96x96"/>
		<link rel="icon" type="image/png" href="/images/icons/favicons/android-chrome-192x192.png" sizes="192x192"/>
		<link rel="icon" type="image/png" href="/images/icons/favicons/favicon-16x16.png" sizes="16x16"/>
		<link rel="manifest" href="/images/icons/favicons/manifest.json"/>
		<link rel="mask-icon" href="/images/icons/favicons/safari-pinned-tab.svg"/>
		<link rel="shortcut icon" href="/images/icons/favicons/favicon.ico"/>
		<meta name="apple-mobile-web-app-title" content="Fairtheoir Thuaidh"/>
		<meta name="application-name" content="Fairtheoir Thuaidh"/>
		<meta name="msapplication-TileColor" content="#ffc40d"/>
		<meta name="msapplication-TileImage" content="/images/icons/favicons/mstile-144x144.png"/>
		<meta name="msapplication-config" content="/images/icons/favicons/browserconfig.xml"/>
		<meta name="theme-color" content="#aa8238"/>
		<% if current_article %>
		<%= partial('layouts/publication_meta') %>
		  <% else %>
		<meta name="author" content="<%= data.settings.author.name %>" />
		<meta name="description" content="<%= data.settings.site.description.gsub( %r{</?[^>]+?>}, '' ) %>" />
		<% end %>
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:creator" content="@feargoidte" />
		<link property="rdfa:copy" href="#ccpattern" />
	</head>
	<body>
  		<a href="#nav_main">Skip to main content</a>
		<div role="banner">
			<dl>
		<% if current_page.path == 'index.xhtml' %>
				<dt property="dcterms:title" xml:lang="ga"><%= data.settings.site.name %></dt>
		<% else %>
				<dt xml:lang="ga"><%= link_to data.settings.site.name, '/index.xhtml' %></dt>
		<% end %>
				<dd
			<% if current_page.path == 'index.xhtml' %>
				 property="dcterms:description"
			<% end %>
				><%= data.settings.site.description %></dd>
			</dl>
			<div role="navigation">
				<ol>
				<% if current_page.path == 'index.xhtml' %>
					<li>Publications</li>
				<% else %>
					<li><%= link_to 'Publications', '/index.xhtml', accesskey: '1' %></li>
				<% end %><!--End of home link-->
					<li><%= link_to 'Copright', '#nav_copyright', accesskey: '6' %></li>
					<li><%= link_to 'Access keys', '#nav_accesskeys', accesskey: 'k' %></li>
					<% if current_page.path == "colophon.xhtml" %>
					<li>Colophon</li>
				<% else %>
					<li><%= link_to 'Colophon', '/colophon.xhtml' %></li>
				<% end %><!--End of archive link-->
				</ol>
			</div><!--End of ‘navigation’ role-->
		</div><!-- end of ‘banner’ role -->
		<%= yield %>
		<div role="complementary">
		<% if current_article %>
			<h2>All other publications</h2>
			<ul>
			<% blog.articles.each do |article| %>
				<% unless current_article == article %>
				<li><%= link_to article.title, article.url %></li>
				<% end %>
			<% end %>
			</ul>
		<% end %>
			<h2>Publications let loose</h2>
			<p>Find all books on:</p>
			<ul class="all-books">
				<li><a href="https://www.amazon.co.uk/-/e/B01ABT1SIM/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN=B01CAANG2Q&amp;linkCode=as2&amp;tag=no2orguk-21">Amazon</a>,</li>
				<li><a href="http://www.barnesandnoble.com/s/%22J.P.%20O%20Nuanain">Barnes &amp; Nobel</a>,</li>
				<li><a href="https://www.goodreads.com/author/show/15040334.J_P_Nuan_in">Goodreads</a>, and</li>
				<li><a href="https://itunes.apple.com/gb/author/o-nuanain-j.-p./id1072462215?mt=11&amp;at=1000laV8">iTunes.</a></li>
			</ul>
	</div>
	<%= partial 'layouts/footer' %>
	</body>
</html>
